<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="/SignUp.js"></script>
    <link rel="stylesheet" th:href="@{MyCSS.css}"/>

</head>
<body>
<div class="account-wall">
    <div class="user-login">
        <div class="close">
            <button type="button" class="close-btn"
                    onclick="window.open('', '_self', ''); window.close();">&times;</button>
        </div>
        <span>LOGIN</span>
    </div>

    <!--/*@thymesVar id="loginForm" type="com.internshipgo.view.LoginForm"*/-->
    <form class="form-signin" action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
        <table>
            <tr>
                <td><input type="text" th:field="*{email}" class="form-control" placeholder="Email" /></td>
            </tr>
            <tr>
                <td><input type="password" th:field="*{password}" class="form-control" placeholder="Password" /></td>
            </tr>

            <div>
                <tr>
                    <td><button class="btn btn-lg btn-primary btn-block" type="submit">Login</button></td>
                </tr>

            </div>
        </table>
    </form>
</div>
</body>
</html>

